<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="AirCNC: ravel and Relax!">
        <meta name="author" content="Reynaldo Sia Jr.">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://kit.fontawesome.com/2228eed549.js" crossorigin="anonymous"></script>
        <!-- Used Roboto font from Google font website -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <div class="navpadding"></div>
            <ul class="nav">
                <li class="nav-li-padding"><a href="http://localhost:3000/home">Home</a></li>
                <li class="nav-li-padding"><a href="http://localhost:3000/login">Account</a></li class="nav-li-padding">
                <li class="nav-li-padding"><a href="http://localhost:3000/rooms">Room Listing</a></li>
                <li class="nav-li-padding"><a href="http://localhost:3000/reg">Sign Up</a></li>
            </ul>
                <a href="#"><img src="img/Logo.jpg" alt="Website Logo" class="logo"></a>
         </header>

        {{{ body }}}

    <div class="partition"></div>
        <div>
            <p class="copyright">&copy; JR Sia | WDDM 2020</p>
        </div>
        <article class="footerfinal">
            <nav aria-label="Legal">
                <ul class="footertext">
                    <li class="navpadding"><a href="#">Terms of Use</a></li>
                    <li class="navpadding"><a href="#">Privacy</a></li
                    <li class="navpadding"><a href="#">Accessibility</a></li>
                </ul>
            </nav>
            <div>
                <ul class="footericons">
                    <li class="navpadding"><a href="#" title="Facebook"><i class="fab fa-facebook-f footpad"></i></a></li>
                    <li class="navpadding"><a href="#" title="Instagram"><i class="fab fa-instagram footpad"></i></a></li>
                    <li class="navpadding"><a href="#" title="Twitter"><i class="fab fa-twitter footpad"></i></a></li>
                    <li class="navpadding"><a href="#" title="Pinterest"><i class="fab fa-pinterest footpad"></i></a></li>
                    <li class="navpadding"><a href="#" title="Reddit"><i class="fab fa-reddit footpad"></i></a></li>
                </ul>
            </div>
        </article>
    </body>
</html>