<form id="salcalc"><br>
        <div class="personal">
            <section>
                <label>Employee #: </label>
                <input type="text" id="empnumber" class="empnum" maxlength="6">
            </section>
            <section>
                <label>Name: </label>
                <input type="text" id="empname" class="empnam" maxlength="40">
            </section>
        </div><br>
        <div class="borderline"></div>
        <div class="jobpayinfo">
            <section>
                <label>Department: </label><br>
                <select id="department">
                    <option value="noneone"> </option>
                    <option value="Accounting">Accounting</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Humanities">Humanities</option>
                    <option value="IT">Information Technology</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Social Sciences">Social Sciences</option>
                </select>
            </section>
            <section>
                <label>Employee Type: </label>
                <select id="emptype">
                    <option value="nonethree"> </option>
                    <option value="Faculty">F - Faculty</option>
                    <option value="Regular">R - Regular</option>
                </select>
            </section>
            <section>
                <label>Month of Pay: </label><br>
                <select id="month">
                    <option value="nonetwo"> </option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </section>
        </div><br>
        <div class="borderline"></div>
        <div class="jobpayinfo">
            <section>
                <label>Hours worked (in a given month): </label><br>
                <input type="text" id="hours" class="hrs" maxlength="6">
            </section><br>
        </div>
    </form>
    <article>
        <section class="whatis">
            What is AirBNB and how does it work?
        </section>
        <section class="answhatis">
            <div>It's a  community built on sharing! 
            </div><br>
            <div>Airbnb began in 2008 when two designers who had space to share hosted three travellers looking for a place to stay. 
            </div><br>
            <div>
            Now, millions of hosts and travellers choose to create a free Airbnb account so they can list their space and book unique accommodations anywhere in the world. And Airbnb experience hosts share their passions and interests with both travellers and locals.
            </div>
        </section>
    </article><br>
    <article class="seetheworld">
        Experience the world with AirBNB!
    </article>
<div>
    <div>
        <img src="img/carousel-1.jpg" style="width:100%" class="experience">
    </div>
    <div>
        <img src="img/carousel-2.jpg" style="width:100%" class="experience">
    </div>
    <div>
        <img src="img/carousel-3.jpg" style="width:100%" class="experience">
    </div>
    <div>
        <img src="img/carousel-4.jpg" style="width:100%" class="experience">
    </div>
    <div>
        <img src="img/carousel-5.jpg" style="width:100%" class="experience">
</div>
<article class="seetheworld">
    See how are partners are earning!
</article>
<article>
    <iframe width="320" height="250" src="https://www.youtube.com/embed/-So2IUIHHe0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="youtube"></iframe>
</article>
<article class="seetheworld">
    Grab this promo now!
</article>
<article>
    <a href="#"><img src="img/canva.png" alt="promotion" class="promophoto"></a>
</article>
