<form id="salcalc"><br><br><br>
        <div class="personal">
            <section>
                <label>Employee #: </label>
                <input type="text" id="empnumber" class="empnum" maxlength="6">
            </section>
            <section>
                <label>Name: </label>
                <input type="text" id="empname" class="empnam" maxlength="40">
            </section>
        </div><br>
        <div class="borderline"></div><br>
        <div class="jobpayinfo">
            <section>
                <label>Department: </label><br>
                <select id="department">
                    <option value="noneone"> </option>
                    <option value="Accounting">Accounting</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Humanities">Humanities</option>
                    <option value="IT">Information Technology</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Social Sciences">Social Sciences</option>
                </select>
            </section>
            <section>
                <label>Employee Type: </label><br>
                <select id="emptype">
                    <option value="nonethree"> </option>
                    <option value="Faculty">F - Faculty</option>
                    <option value="Regular">R - Regular</option>
                </select>
            </section>
            <section>
                <label>Month of Pay: </label><br>
                <select id="month">
                    <option value="nonetwo"> </option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </section>
        </div><br>
        <div class="borderline"></div><br>
        <div class="jobpayinfo">
            <section>
                <label>Hours worked (in a given month): </label><br>
                <input type="text" id="hours" class="hrs" maxlength="6">
            </section>
        </div>
    </form>
    <article>
        <a href="#"><img src="img/canva.png" alt="promotion" class="promophoto"></a>
    </article>
    <article>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-So2IUIHHe0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
