<article class="loginform">
    <h2 class="loginheader">Enter credentials below</h2>
    <section>
        <input type="input" id="email" class="regform" placeholder="Email">
    </section>
    <section>
        <input type="input" id="password" class="regform" placeholder="Password">
    </section>
    <section>
        <button type="button" class="signin">Sign in</button>
    </section>
</article>