<h3>Sign up with <strong><a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=138566025676&kid_directed_site=0&app_id=138566025676&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Foauth%3Fdisplay%3Dpopup%26response_type%3Dcode%26client_id%3D138566025676%26state%3DMHPBMHUUKXLKQEPJMGHTIEMLQIDWLY%26scope%3Demail%2Buser_birthday%2Buser_likes%2Buser_hometown%2Buser_location%2Buser_friends%26redirect_uri%3Dhttps%253A%252F%252Fwww.airbnb.ca%252Foauth_callback%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D39b86301-dc81-49ae-ada5-70dd6d84c6d5&cancel_url=https%3A%2F%2Fwww.airbnb.ca%2Foauth_callback%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3DMHPBMHUUKXLKQEPJMGHTIEMLQIDWLY%23_%3D_&display=popup&locale=en_US&pl_dbl=0">Facebook</a></strong> or <strong><a href="https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=622686756548-j87bjniqthcq1e4hbf1msh3fikqn892p.apps.googleusercontent.com&as=7gcXEj5bTptUC9oxzmqwNw&destination=https%3A%2F%2Fwww.airbnb.ca&approval_state=!ChRXYl9Pc1hIQnlSTGVxMHlMeTFTMxIfczEzRlZYRUcxSTBkMEs2dFEwd1Nsa3RGLWFNZ0FCYw%E2%88%99AJDr988AAAAAXjcWrq95zn4TbaKt7I0B1-3d61ujUFvL&oauthgdpr=1&xsrfsig=ChkAeAh8Twt0YhWQDy7pZckvY3i_kYrsdtrYEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow">Google</a></strong> </h3>

<article class="mainregsec">
    <section>
        <input type="input" id="email" class="regform" placeholder="Email">
    </section>
    <section>
        <input type="input" id="firstname" class="regform" placeholder="First Name">
    </section>
    <section>
        <input type="input" id="lastname" class="regform" placeholder="Last Name">
    </section>
    <section>
        <input type="input" id="password" class="regform" placeholder="Create a Password">
    </section>
    <div class="formcaption">Date of Birth</div>
    <p class="bdayclause">To sign up, you need to be atleast 18 years old. Other people who use AirBNB won't see your birthday</p>
        <input type="date" id="bday" class="regform">
    </section>
    <p class="marketingclause">We'll send you marketing promotions, special offers, inspiration, and policy updates via email.</p>
    <section>
        <button type="button" class="signup">Sign up</button>
    </section>
</article>