<h1 class="search">Search Results</h1>
<div class="partition"></div>
    <article class="productsbox">
        <img src="img/forrent-1.jpg" alt="For Rent One" class="product">
    </article>
    <h2 class="prodtitle" id="prodtitle">1 Room for Rent, Alberta</h2>
    <p class="prodprice" id="prodprice">Price:<ins class="insprice">${product.price}</ins></p>
<div class="partition"></div>