<h1 class="search">Search Results</h1>

<div class="roomgrid">

{{#each rooms }}
    <article class="productsbox">
        <img src="{{ this.img }}" alt="{{ this.title }}" class="product">
        <h2 class="prodtitle" id="prodtitle">{{ this.desc }}</h2>
        <p class="prodprice" id="prodprice">Price per night: <ins class="insprice">${{ this.rate }}</ins></p>
    </article>
{{/each}}

</div>

