<h1 class="search">Search Results</h1>
<div class="partition"></div>
    <article class="productsbox">
        <img src="{{ prodImg }}" alt="{{ prodTitle }}" class="product">
    </article>
    <h2 class="prodtitle" id="prodtitle">{{ prodDesc }}</h2>
    <p class="prodprice" id="prodprice">Price:<ins class="insprice">{{ rate }}</ins></p>
<div class="partition"></div>