/* Main CSS for Header and Footer */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    background: whitesmoke;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: indianred;
    list-style: none;   
}

a:hover{
    color: gold;
}

header {
    display: flex;
    justify-content: space-between;
    background-image: url('/img/beach.jpg');
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2% 0;
    background-color: rgb(88, 170, 124);
}

.logo {
    height: 90%;
    width: 80%;
    padding-top: 1%;
    border-radius: 6em;
}

.nav {
    display: inline-flex;
    flex-flow: column;
    padding: 1% 0;
    font-size: 1rem;
    font-weight: bolder;
}

.navpadding{
    padding: 0 2em;
}

.nav-li-padding{
    padding: 0 .7em;
}

.copyright{
    padding: 1em 0;
    font-size: large;
    color: darkcyan;
    text-align: center;
}

.footertext{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: .8rem;
    padding: 2% 1%;
    text-align: center;
}

.footericons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 3% 0;  
    font-size: .8rem;
    background-color: cyan;
}


/* Homepage CSS */

.fillform{
    padding: 1% 2% 2% 2%;
}

.formcaption{
    padding-top: 3%;
    padding-left: 2%;
    color: gray;
    font-size: 1rem;
}

.formcaptiontwo{
    padding-top: 7%;
    padding-left: 2%;
    color: gray;
    font-size: 1rem;
}
    
label{
    font-family: arial; 
    font-size: .8em;
}

.dropdown{
    border-radius: .3em;
    padding: 2% 0;
    font-size: 1rem;
    margin-bottom: 3%;
}

input{
    border: lightgray;
    border-style: solid;
    border-width: .1em;
    border-radius: .3em;
    padding: 2% 0 2% 1%;
    font-size: 1em;
}

input:focus{
    outline: turquoise;
}

.promophoto{
    height: 100%;
    width: 100%;
    padding-bottom: 5%; 
    text-align: center;
}

.whatis{
    background-color: darkcyan;
    padding: 3% 0; 
    text-align: center;
    color: whitesmoke;
}

.answhatis{
    display: border-box;
    border-style: outset;
    border-color: turquoise;
    border-width: 2%;
    font-size: .8rem;
    padding: 5% 2%;
    text-align: center;
    background-color: papayawhip;
    color: gray;
}

.seetheworld{
    padding: 3% 0;
    margin-top: 12%;
    background-color: darkcyan;
    text-align: center;
    color: whitesmoke;
}

.experience{
    box-sizing: border-box;
    border-style: solid;
    border-color: darkcyan;
    /* box-shadow: 5px 10px #888888; */
}

.youtube{
    padding: 0 0 5% 0;
}


/* Registration Page CSS */

h3{
    font-size: .8rem;
    color: gray;
    text-align: center;
    margin-top: 5%;
}

.mainregsec{
    padding-top: 5%;
}

.regform{
    margin: 2% 2%;
}

.bdayclause{
    font-size: .6rem;
    color: gray;
    margin-left: 2%;
}

.marketingclause{
    font-size: .6rem;
    color: gray;
    margin: 5% 2%;
}

.signup{
    border-radius: .3em;
    margin: 0 15%;
    font-size: 1rem;
    padding: 1em 5em;
    color: white;
    background-color: tomato;
}

/* Login Page CSS */

.loginheader{
    margin: 5%;
    padding: 3%;
    text-align: center;
    font-size: 1.2rem;
    background-color: darkcyan;
    color: white;
}

.signin{
    border-radius: .3em;
    margin: 5% 15%;
    font-size: 1rem;
    font-style: normal;
    font-weight: lighter;
    padding: 1em 5em;
    color: white;
    background-color: turquoise;
}

/* Room Listing Page CSS */

.search{
    margin: 5%;
    padding: 3%;
    background-color: turquoise;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-radius: .3em;
}

.partition{
    border-style: solid;
    border-width: thin;
    border-top-color: darkcyan;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
    margin: 10% 0;
}

.product{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productsbox{
    margin: 2% 23%;
    box-sizing: border-box;
    border-style: ridge;
    border-color: lightgray;
    border-radius: .3em;
    -webkit-box-shadow: 0 10px 11px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 10px 11px rgba(0, 0, 0, 0.12);
    box-shadow: 0 10px 11px rgba(0, 0, 0, 0.12);
    height: 50%;
    width: 50%;     
}

.prodtitle{
    margin-top: 7%;
    text-align: center;
    color: darkcyan;
}

.prodprice{
    margin-top: 3%;
    text-align: center;
    color: darkgreen;
}

/* -----------------Media Queries--------------------*/

/* HOME PAGE MEDIA QUERIES */

@media only screen and (min-width: 360px) {

    .nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1% 2%;
        font-size: 1.2rem;
    }
    
    .youtube{
        padding: 1% 5%;
        width: 360px;
        height: 280px;
    }

}

@media only screen and (min-width: 470px) {

    .nav {
        display: inline;
        padding: 7% 2%;
        font-size: 1.2rem;
    }

    .fillform{
        padding: 1% 15%;
    }
    
    .answhatis{
        font-size: 1rem;
    }

    .youtube{
        padding: 1% 0;
        margin: 0 5%;
        width: 420px;
        height: 280px;
    }

    .footericons{
        font-size: 1rem;
    }

}

@media only screen and (min-width: 600px) {

    header {
        display: inline-block;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        padding: 2% 0;
        background-color: rgb(88, 170, 124);
    }

    .logo {
        height: 20%;
        width: 20%;
        padding-top: 1%;
        margin-left: 40%;
    }


    .nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 .2%;
        margin: 0 3%;
        text-align: center;
    }

    .fillform{
        padding: 1% 25%;
    }
    
    .answhatis{
        font-size: 1rem;
    }

    .youtube{
        padding: 1% 0;
        margin: 0;
        width: 600px;
        height: 400px;
    }

    .footericons{
        font-size: 1.5rem;
    }

    .seetheworld {
        font-size: 2rem;
    }

    .whatis{
        font-size: 2rem;
    }

    .samplepics{
        display: grid;
        padding: 1% 2%;
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 768px) {

    .fillform{
        padding: 1% 35%;
        font-size: 1.5rem;
    }

    .formcaption{
        font-size: 1.5rem;
    }

    .formcaptiontwo{
        font-size: 1.5rem;
    }
    
    .answhatis{
        font-size: 1.5rem;
    }

    .youtube{
        margin: 0;
        padding-left: 10%;
        padding-top: 1%;
        width: 360px;
        height: 280px;
    }

    .footericons{
        font-size: 1.5rem;
    }

    .seetheworld {
        margin-top: 1%;
        font-size: 1.5rem;
    }

    .whatis{
        font-size: 1.5rem;
    }

    .bottomgrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: lightgray;
    }

    .promophoto{
        padding: 3% 0; 
        text-align: center;
    }

    .footertext{
        font-size: 1rem;
    }

}


@media only screen and (min-width: 992px) {

    .nav{
        font-size: 1.5rem;
    }

    .gridmid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: lightgray;
        margin-top: 2%;
    }

    .whatis{
        margin-top: 5%;
    }

    .fillform{
        padding: 1% 25%;
    }

    .formcaption{
        color: darkcyan;
    }

    .formcaptiontwo{
        color: darkcyan;
    }

    .youtube{
        padding-right: 10%;
        padding-top: 3%;
        width: 400px;
        height: 400px;
    }

}

@media only screen and (min-width: 992px) {

    .samplepics{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .youtube{
        padding-left: 0%;
        padding-top: 3%;
        max-width: 1500px;
        width: 500px;
        height: 400px;
    }
}

/* Login Page Media Queries */

@media only screen and (min-width: 470px) {

    .regform{
        margin: 2% 25%;
    }

    .signin{
        margin: 5% 25%;
    }

}

@media only screen and (min-width: 600px) {

    .regform{
        font-size: 1.5rem;
    }

    .signin{
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 768px) {

    .loginheader{
        font-size: 2rem;
    }

}

/* Registration Page Media Queries */

@media only screen and (min-width: 470px) {

    h1{
        margin: 0 25%;
        color: gray;
    }

    h3 {
        font-size: 1.2rem;
    }

    .proxy{
        margin: 0 15%;
        font-size: 1rem;
    }

    .signup{
        margin: 0 25%;
    }

    .bdayclause{
        font-size: .7rem;
    }

    .marketingclause{
        font-size: .7rem;
    }

}

@media only screen and (min-width: 600px) {

    .formcaption{
        font-size: 1.5rem;
    }

    .bdayclause{
        font-size: 1rem;
    }

    .marketingclause{
        font-size: 1rem;
    }

}

@media only screen and (min-width: 768px) {

    .signup{
        font-size: 1.7rem;
    }

}


@media only screen and (min-width: 992px) {

    .formcaption{
        color: gray;
        font-size: 2rem;
    }

    .bdayclause{
        font-size: 1.5rem;
    }

    .marketingclause{
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 992px) {

    h3{
        font-size: 1.5rem;
    }

}

/* Rooms Listing Page Media Queries */

@media only screen and (min-width: 600px) {

    .search{
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 768px) {

    .roomgrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}


@media only screen and (min-width: 992px) {

    .roomgrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

