

<article class="loginform">
    <h2 class="loginheader">Enter credentials below</h2>
    <form method="POST" action="/user/login">
        <section>
            <input type="input" id="email" class="regform" placeholder="Email" name="email">
        </section>
        <section>

            <input type="input" id="password" class="regform" placeholder="Password" name="password">
        </section>
        {{#each messages}}

            <div class="errors">{{this}}</div>

        {{/each}}
        <section>
            <input type="submit" value="Sign in" class="signin"></input>
        </section>
    </form>
</article>