<h2>Welcome {{user.firstName}} {{user.lastName}}</h2>


<!-- User Profile pic will go here-->
<img src="/uploads/{{user.profilePic}}"> 

<div>
    <a href="http://localhost:3000/task/dashboard">Task Dashboard </a>
</div>


