<h1 class="welc">Welcome, User!</h1>

<h1 class="please">Add Product Form</h1>

<form method="POST" action="/product/add">
    <section class="welcgrid">
        <div class="welcdivs">
            <label for="title" class="fieldlabels">Product Title:</label>
            <input type="text" id="title" name="title" class=""> <br>
        </div>

        <div class="welcdivs">
            <label for="price" class="fieldlabels">Price:</label>
            <input type="text" id="price" name="price" class=""> <br>
        </div>

        <div class="welcdivs">
            <label for="description" class="fieldlabels">Description:</label>
            <textarea id="description" name="description" class=""></textarea> <br>
        </div>

	<input type="submit" value="Add Product" class="regform">
    </section>
</form>