<h1 class="welc">Welcome and Thank You for registering to Vagabond!</h1> <br><br>
<h2 class="please">Please expect an email and an SMS message as confirmation of your registration </h2> <br><br>
<h2 class="please">We are pleased to serve you!</h2>